body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, white, #c4e3fd, skyblue);
}

.navbar-brand img {
  height: 3.75rem; /* 60px / 16px = 3.75rem */
}

.nav-item a {
  color: #0f83ca !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: none !important;
}

.predictiondata {
  background: linear-gradient(132deg, rgb(34, 181, 254) 0.00%, rgb(255, 186, 214) 100.00%);
}

.warninglocations {
  background: linear-gradient(132deg, rgb(255, 127, 56) 0.00%, rgb(255, 196, 108) 100.00%);
}

.serverdata {
  background: linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 100.00%);
  margin-left: auto;
  margin-right: auto;
  width: 90%; /* 1440px / 16px = 90rem */
}

.serverdata p:hover {
  transform: scale(1.2);
  transform: perspective(-10, 15, 45);
  color: rgb(20, 54, 58);
}

.sensor1 {
  background: linear-gradient(132deg, rgb(249, 202, 120) 0.00%, rgb(212, 206, 169) 50.00%, rgb(172, 192, 191) 100.00%);
}

.sensor2 {
  background: linear-gradient(132deg, rgb(3, 148, 108) 0.00%, rgb(33, 35, 34) 100.00%);
  background: linear-gradient(132deg, rgb(34, 181, 254) 0.00%, rgb(255, 186, 214) 100.00%);
}

.map {
  background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(34, 181, 254) 100.00%);
  height: 21.875rem; /* 350px / 16px = 21.875rem */
  border: 0.125rem solid rgb(97, 89, 37); /* 2px / 16px = 0.125rem */
}

.emptyfornow {
  background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(216, 245, 251) 100.00%);
}

.tiltChart {
  background: linear-gradient(132deg, rgb(34, 181, 254) 0.00%, rgb(255, 186, 214) 100.00%);
}

.accelerationChart {
  background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(255, 186, 214) 100.00%);
}

.safetyTips{
  list-style-type :square;
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.4;
  color:darkslategrey;
}